<a href="https://colab.research.google.com/github/Sinrez/PythonProjects/blob/main/hw5_pandas_in_act.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
films = pd.read_csv(
    "/content/netflix.csv", parse_dates = ["date_added"]
)
films.head()

               title        director date_added     type
0        Alias Grace             NaN 2017-11-03  TV Show
1     A Patch of Fog  Michael Lennox 2017-04-15    Movie
2           Lunatics             NaN 2019-04-19  TV Show
3          Uriyadi 2     Vijay Kumar 2019-08-02    Movie
4  Shrek the Musical     Jason Moore 2013-12-29    Movie

In [3]:
# Добейтесь оптимального использования этим набором данных памяти и мак- симального удобства его применения

films["type"] = films["type"].astype("category")
films.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       5837 non-null   object
 1   director    3936 non-null   object
 2   date_added  5195 non-null   datetime64[ns]
 3   type        5837 non-null   category
dtypes: category(1), datetime64[ns](1), object(2)
memory usage: 142.8+ KB

In [4]:
# Найдите все строки с названием Limitless
films[films['title'] == 'Limitless']

          title         director date_added     type
1559  Limitless      Neil Burger 2019-05-16    Movie
2564  Limitless              NaN 2016-07-01  TV Show
4579  Limitless  Vrinda Samartha 2019-10-01    Movie

In [11]:
# Найдите все строки с режиссером Robert Rodriguez и типом Movie
pattern1 = films['director'] == 'Robert Rodriguez'
pattern2 = films['type'] == 'Movie'
films[pattern1 & pattern2]

,title,director,date_added,type
1384,Spy Kids: All the Time in the World,Robert Rodriguez,2019-02-19,Movie
1416,Spy Kids 3: Game Over,Robert Rodriguez,2019-04-01,Movie
1460,Spy Kids 2: The Island of Lost Dreams,Robert Rodriguez,2019-03-08,Movie
2890,Sin City,Robert Rodriguez,2019-10-01,Movie
3836,Shorts,Robert Rodriguez,2019-07-01,Movie
3883,Spy Kids,Robert Rodriguez,2019-04-01,Movie

In [14]:
# Найдите все строки с датой добавления 2019-07-31 или режиссером Robert Altman
pattern1 = films['date_added'] == '2019-07-31'
pattern2 = films['director'] == 'Robert Altman'
films[pattern1 | pattern2]

                                title       director date_added     type
611                            Popeye  Robert Altman 2019-11-24    Movie
1028        The Red Sea Diving Resort    Gideon Raff 2019-07-31    Movie
1092                     Gosford Park  Robert Altman 2019-11-01    Movie
3473  Bangkok Love Stories: Innocence            NaN 2019-07-31  TV Show
5117                       Ramen Shop      Eric Khoo 2019-07-31    Movie

In [ ]:
# Найдите все строки с режиссером Orson Welles, Aditya Kripalani или Sam Raimi