<a href="https://colab.research.google.com/github/Sinrez/PythonProjects/blob/main/Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
s1 = pd.Series(range(5))
s1.name = 'col1'
s1

0    0
1    1
2    2
3    3
4    4
Name: col1, dtype: int64

In [ ]:
s1 = pd.Series(['Ivan', 'Andrey', 'Igor'])
s1.name = 'users_name'

In [ ]:
df = pd.DataFrame(s1)
df

  users_name
0       Ivan
1     Andrey
2       Igor

In [ ]:
s = df['users_name']
print(s, type(s), s.dtype)

0      Ivan
1    Andrey
2      Igor
Name: users_name, dtype: object <class 'pandas.core.series.Series'> object

Повторяющиеся индексы

In [ ]:
s = pd.Series([1,2,3], index = ['a', 'b', 'a'])
s['a']

a    1
a    3
dtype: int64

Заполнение DataFrame

In [ ]:
data = {'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year': [2022,2021,2020,2022,2021,2020],
        'visits': [500,2000,1500,100,230,200]}
data

{'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
 'year': [2022, 2021, 2020, 2022, 2021, 2020],
 'visits': [500, 2000, 1500, 100, 230, 200]}

In [ ]:
df = pd.DataFrame(data)
df

     city  year  visits
0  Moscow  2022     500
1  Moscow  2021    2000
2  Moscow  2020    1500
3   Kazan  2022     100
4   Kazan  2021     230
5   Kazan  2020     200

In [ ]:
df.head(2)

     city  year  visits
0  Moscow  2022     500
1  Moscow  2021    2000

In [ ]:
df2 = pd.DataFrame(data, columns=['visits','city','year'])
df2

   visits    city  year
0     500  Moscow  2022
1    2000  Moscow  2021
2    1500  Moscow  2020
3     100   Kazan  2022
4     230   Kazan  2021
5     200   Kazan  2020

In [ ]:
df2 = pd.DataFrame(data, columns=['visits','city','years'])
df2

   visits    city years
0     500  Moscow   NaN
1    2000  Moscow   NaN
2    1500  Moscow   NaN
3     100   Kazan   NaN
4     230   Kazan   NaN
5     200   Kazan   NaN

In [ ]:
df3 = pd.DataFrame(data, columns=['visits','city','year'], index= ['a','b','c','d','e','f'])
df3

   visits    city  year
a     500  Moscow  2022
b    2000  Moscow  2021
c    1500  Moscow  2020
d     100   Kazan  2022
e     230   Kazan  2021
f     200   Kazan  2020

In [ ]:
df3['city']

a    Moscow
b    Moscow
c    Moscow
d     Kazan
e     Kazan
f     Kazan
Name: city, dtype: object

In [ ]:
df3.city

a    Moscow
b    Moscow
c    Moscow
d     Kazan
e     Kazan
f     Kazan
Name: city, dtype: object

Доступ к строкые (индексу)

In [ ]:
print(df3.loc['a'], type(df3.loc['a']))

visits       500
city      Moscow
year        2022
Name: a, dtype: object <class 'pandas.core.series.Series'>

Работа с колонками

In [ ]:
df2['years'] = 0
df2

   visits    city  years
0     500  Moscow      0
1    2000  Moscow      0
2    1500  Moscow      0
3     100   Kazan      0
4     230   Kazan      0
5     200   Kazan      0

In [ ]:
df2['new_column'] = range(100,106)
df2

   visits    city  years  new_column
0     500  Moscow      0         100
1    2000  Moscow      0         101
2    1500  Moscow      0         102
3     100   Kazan      0         103
4     230   Kazan      0         104
5     200   Kazan      0         105

In [ ]:
df2['years'] = [1,2,3,4,5,6]
df2

   visits    city  years  new_column
0     500  Moscow      1         100
1    2000  Moscow      2         101
2    1500  Moscow      3         102
3     100   Kazan      4         103
4     230   Kazan      5         104
5     200   Kazan      6         105

In [ ]:
df2['new_column'] = pd.Series([2022,2022], index = [0,3])
df2

   visits    city  years  new_column
0     500  Moscow      1      2022.0
1    2000  Moscow      2         NaN
2    1500  Moscow      3         NaN
3     100   Kazan      4      2022.0
4     230   Kazan      5         NaN
5     200   Kazan      6         NaN

In [ ]:

data = {'user' : ['Ivan', 'Petr', 'Nikolay', 'Andrey'],
            'time_per_page' :  [10, 30 , 15, 5],
             'pages' : [7, 9, 12, 3]}
df = pd.DataFrame(data, index=['user1','user2','user3','user4'])
s1 = pd.Series([200,150], index=['user3','user4'])

def solution(df, s1):
    df['balance'] = pd.Series(s1, index=['user3','user4'])
    return df
df1 = solution(df,s1)
df1

          user  time_per_page  pages  balance
user1     Ivan             10      7      NaN
user2     Petr             30      9      NaN
user3  Nikolay             15     12    200.0
user4   Andrey              5      3    150.0

In [ ]:
df1[df1['balance'].isnull()].index

Index(['user1', 'user2'], dtype='object')

In [ ]:
df1['total_time'] = df['time_per_page'] * df['pages']
# df1['is_correct'] = df1[
df1['is_correct'] = df1['total_time'] < 100
df1

          user  time_per_page  pages  balance  total_time  is_correct
user1     Ivan             10      7      NaN          70        True
user2     Petr             30      9      NaN         270       False
user3  Nikolay             15     12    200.0         180       False
user4   Andrey              5      3    150.0          15        True

In [ ]:
import pandas as pd

def solution(_df):
    return 'f' in _df.index